
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{url_for('static', filename='css/reveal.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='css/default.css')}}" id="theme">

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">
		    <div class="slides">
		    	{% for email in emails %}
		    	  <section><div class='subject'>Subject: {{ email.subject }}<div>
							        <div class='from'>From: {{ email.addresses.from.name }}<div>
							        <div class='to'>To: {{ email.addresses.to[0].email }}<div>
			      </section>
				{% else %}
			      <section><h1>No emails!</h1></section>
				{% endfor %}
		    </div>
		</div>
		
		<script src="{{url_for('static', filename='script/head.min.js')}}"></script>
		<script src="{{url_for('static', filename='script/reveal.js')}}"></script>
		<script src="{{url_for('static', filename='script/keyboard.js')}}"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: true,
				history: false,
				center: true,
				autoSlide: 5000,
				keyboard: false,
				//loop: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
			});

			// our lists
			var interested = []
			var not_interested = []

			// set keyboard shortcuts
			KeyboardJS.on('a', function() { addToList(interested) }, null)		
			KeyboardJS.on('b', function() { addToList(not_interested) }, null)		

			
			function addToList(list) {
				
				var slide_content = Reveal.getCurrentSlide()
				list.push(slide_content)
				
				if (!Reveal.isLastSlide()) {
					Reveal.next()
				}
			}


		</script>
</body>

</html>

