{% extends "layout.html" %}
{% block body %}

{% for blog in user_blogs %} 
  <form method="POST" action="/select_blog">
    <input type="submit" name="blog" value="{{blog['name']}}" />
   </form>
{% endfor %}

{% if g.user %}
<li><a href="{{ url_for('logout') }}">sign out [{{ g.user.name }}]</a>
{% else %}
<li><a href="{{ url_for('login') }}">sign in</a>
{% endif %}
</ul>

{% for message in get_flashed_messages() %}
  <p class=message>{{ message }}
{% endfor %}

</body>
</html>

{% endblock %}
