{% extends "layout.html" %}
{% block body %}

  
  <div class="reveal">
    <div class="slides">
  
      {% if g.user and posts %}

        <section>
          <h2>are you ready to t u m b l e</h2>
          <img src="/static/img/l.png" style="width:30px">
          <img src="/static/img/r.png" style="width:30px">
          <img src="/static/img/s.png" style="width:30px">
        </section>

        {% include "show_posts.html" %}

  <section>
    <h2> ~ that is all ~ </h2>
    press --> 
  </section>
  
    {% else %}
      <section>
        <h2>t u m b l e t i m e</h2>
        <a href="/login">login with tumblr</a>
      </section>
    {% endif %}
    </div>
  </div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="static/script/head.min.js"></script>
<script src="static/script/reveal.js"></script>
<script src="static/script/keyboard.js"></script>
<script src="static/script/cereal.js"></script>

</body>
</html>

{% endblock %}
