{% extends "layout.html" %}
{% block body %}

  
  <div class="reveal">
    <div class="slides">
  
      {% if g.user and posts %}
        {% for post in posts %}

            {% for photo in post['photos'] %}
              <section>

                <section class="display" id="{{post['id']}}">
                  <img src="{{photo['original_size']['url']}}">
                </section>

                <section class = "meta" id="{{post['reblog_key']}}">
                  <div class ="blog-name">{{post['blog_name']}}</div>
                  <div class ="source-title">{{post['source_title']}}</div>
                  <div class ="caption">{{post['caption']}}</div>
                </section>

              </section>

            {% endfor %}

  {% endfor %}
    {% else %}
      <section>
        <h2>t u m b l e t i m e</h2>
        <a href="/login">login with twitter</a>
      </section>
    {% endif %}
    </div>
  </div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="static/script/head.min.js"></script>
<script src="static/script/reveal.js"></script>
<script src="static/script/keyboard.js"></script>
<script src="static/script/cereal.js"></script>

</body>
</html>

{% endblock %}
