<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="http://cosmopol.is/cereal/css/reveal.min.css">
		<link rel="stylesheet" href="static/css/theme/night.css" id="theme">

		<style>
			.reblog_key, .id {
				visibility: none;
			}
		</style>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

<title>t u m b l e t i m e</title>


{% block body %}{% endblock %}

