{% for post in posts %}

  {% for photo in post['photos'] %}
    <section>

      <section class="display" id="{{post['id']}}">
        <img src="{{photo['original_size']['url']}}">
        <br>
        <h6>{{post['blog_name']}}</h6>
      </section>

      <section class = "meta" id="{{post['reblog_key']}}">
        <div class ="caption">{{post['caption']}}</div>
        {% if (post['source_title']): %}
          <div class ="source-title">(via {{post['source_title']}})</div>
        {% endif %}
      </section>

    </section>

  {% endfor %}

{% endfor %}